<section id="posts">
    {{#each bpost as |bpost|}}
    <div class="postItem col-md-12">
        <a href='/post/{{bp.id}}'>
            <div class="card">
            <div class="card-body">
                <h1>{{bpost.title}}</h1>
                <h6 class="card-subtitle text-muted">Author: {{bpost.user.username}}</h6>
                <p class="card-text">{{this.content}}</p> 
            </div>
            </div>
        </a>
    </div>
    {{/each}}
</section>